 
 :root {
    --cor1: #734652; 
    --cor2: #F22987; 
    --cor3: #D9048E;
    --cor4: #55B3D9;
    --cor5: #85DEF2; 
    --cor6: #BBF2F2;
}
 .depoimentos {
      background-color: #C7EAFA ;
      padding: 60px 40px;
      text-align: center;
    }

    .depoimentos h2 {
      color: var(--cor1);
      margin-bottom: 30px;
      font-size: 1.8rem;
    }

    .depoimentos-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 25px;
    }


    .depoimento {
      background: var(--cor2);
      border-radius: 15px;
      box-shadow: 0 4px 10px rgb(0, 0, 0);
      padding: 20px;
      width: 220px;
      text-align: center;
    }
 .azul {
      background: var(--cor4);
    }

 


    .depoimento img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      margin-bottom: 15px;
    }

