:root {
    --cor1: #734652; 
    --cor2: #F22987; 
    --cor3: #D9048E;
    --cor4: #55B3D9;
    --cor5: #85DEF2; 
    --cor6: #BBF2F2;
}
.servicos{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #C7EAFA;
    margin: 0;
    padding: 0;
}
.grid-container {
    display: grid;
    align-items:center;
    grid-template-columns: repeat(3, 1fr); 

    gap: 20px; 
    width: 900px; 
    padding: 15px;
    text-align: center;
}


.cartao {
    display: grid;
    flex-direction: column;
    align-items: flex-start; 
    padding: 5px;
    border-radius: 15px; 
     
    aspect-ratio: 1 / 1; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s; 
    cursor: pointer;
}

.cartao:hover {
    transform: translateY(-5px); 
}

.cartao i {
    font-size: 3.5em; 
    margin-bottom: 25px;

}

.cartao h3 {
    font-size: 1em;
    font-weight: 600; 
    margin: 0;
    line-height: 1.2;
}

.cartao p {
    font-size: 0.8em;
    font-weight: 300; 
    opacity: 0.8;
    margin-top: 5px;
}

.fundo1 {
background-color:  #028b8b; 
}

.fundo2 {

    background: #F22987;
}