@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

:root {
    --cor: #734652;
    --cor: #F22987;
    --cor: #D9048E;
    --cor: #55B3D9;
    --cor: #85DEF2;
    --cor: #BBF2F2;
    --cor: #D9D0A0;

}

* {
    margin: 0;
    padding: 0;
    font-family: "Fugaz One", sans-serif;
    background-color: #734652;
}

p {
    color: black;
}

/*                                               CABEÇALHO                                                  */

header {
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 10px 70px;
    background-color: #734652;
}

.logoicone {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.5em;
    font-weight: bold;
}

.logoicone img {
    width: 70px;
    height: auto;
}

/*                                                 MENU DE NAVEGAÇÃO                                        */
.ancora nav,
ul,
li,
a {
    background-color: #734652;

}

.ancora ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.ancora li {
    list-style: none;
}

.ancora a {
    text-decoration: none;
    gap: 15px;
    color: black;
    border: none
}

.login {
    display: flex;
    align-items: center;
}

.login img {
    width: 70px;
    height: auto;
    display: block;
}


div .logoa {
    height: 100px;
    width: 100px;
}

.logob {
    height: 80px;
    width: 80px;
}

.botaonav {
    background-color: rgba(255, 77, 160, 0.849);
    color: #734652;
    text-decoration: none;
    font-weight: bold;
    font-family: "Fugaz One", sans-serif;
    padding: 15px 30px;
    display: inline-block;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.botaonav:hover {
    background-color: #55B3D9;
    color: #F2F2F2;
}

/*                                              CONTEÚDO MAIN                                          */

main {
    background-image: url(../img/cabecalho/veterinario-cuidando-de-cachorro-de-estimacao.jpg);
    background-repeat: no-repeat;
    background-size:cover ;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;


}

.dialogomain {
    height: 200px;
    width: 600px;
    background: transparent;
    background-color: rgba(0, 0, 0, 0.65);
    padding: 50px 70px;
    border-radius: 10px;
    justify-content: center;

}

.dialogomain img,
h2,
span,
p,
strong {
    background: transparent;
    gap: 20px;
    color: white;
    padding: 5px;
}

.botaoconsulta,
a {
    background-color: transparent;
}

.botaoconsulta button {
    height: 50px;
    width: 250px;
    border-radius: 50px 50px 50px 50px;
    background-color: #F22987;
    cursor: pointer;
    transition: background-color 0.3s;
}

.botaoconsulta button:hover {
    background-color: #55B3D9;
    color: white;
}



/*                         SERVIÇOS                          */

#servicos {
    padding: 60px 20px;
    text-align: center;
    height: 700px;
    align-content: center;



}

.servicos {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 20px;
    width: 900px;
    padding: 20px;
    text-align: center;
}

.cartao img,
h3,
p {
    background: transparent;
    color: black;
}

.cartao img {
    height: 50px;
    width: 50px;
    background-color: transparent;
}

.cartao {
    background: #55B3D9;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cartao:hover {
    transform: translateY(-5px);
}


/*                             SOBRE NÓS                              */





article {
    text-align: center;
    height: 800px;
         
}
article div img{
    border-radius: 50%;
}
.sobrea{
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgb(0, 0, 0);
    width: 400px;
    height: 200px;
    background-color:  #ff52a3;
}

 .sobreimg{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    text-align: center;
    padding: 5px;
    border-radius: 50px;
    
}
 .psobre {
    font-size: 14px;
    color: #000000;
}

.divA {
    display: inline-block;
    justify-items: center;
}

.divB  {
    display: inline-block;
    justify-items: center;
    margin-left: 300px;
}
/* .sobreimg {
    width: 220px;
    height: 220px;
    /* margin-bottom: 15px;  */
    /* text-align: center;
    padding: 5px;
    border-radius: 15px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
} */







/*                        AVALIAÇÕES               */

.depoimentos {
    background-color: #734652;
    padding: 60px 40px;
    text-align: center;
    
}

.depoimentos h4 {
    color: black;
    background: transparent;
    margin-bottom: 30px;
    font-size: 1.3rem;
}

.depoimentos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}


.depoimento {

    background: #BBF2F2;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgb(0, 0, 0);
    padding: 20px;
    width: 220px;
    text-align: center;
    height: 420px;
}

.depoimento img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 15px;
}

/*              CONTATO         */


aside {
    height: 700px;
    margin-top: 100px;
}























/*                       RODAPÉ                    */
footer {
    background: #ff52a3;
    display: flex;

    justify-content: space-around;
    height: 200px;

}

.minimapa {
    background: transparent;
}

.navrodape {
    background: transparent;
}

.navrodape h6 {
    background: transparent;
}

.navrodape ul {
    background: transparent;
}

.navrodape li {
    list-style: none;
    background: transparent;
}

.navrodape a {
    background: transparent;
    text-decoration: none;
    color: white;
    gap: 15px;
}

.redesocial {
    background: transparent;
    gap: 10px;
}

.redesocial img {
    display: block;
    background: transparent;
    height: 30px;
    width: 30px;
}

.decolaweb {
    background: transparent;
    align-items: center;
}

.decolaweb img {
    background: transparent;
    height: 120px;
    width: 200px
}